[user]
	email = sss@lambdacurry.com
	name = sandeep srinivasa

[alias]
        co = checkout
        b = branch
        st = status
    l = log --graph --no-merges --pretty=format:'%Cred%h%Creset %C(bold blue)<%an>%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    d = diff
        c = commit
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[core]
    pager = less -FRSX
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol

[credential]
        helper = osxkeychain
[push]
        default = simple
[help]
        autocorrect = 1
