# Sandeep S Srinivasa
# This file should be copied to <gspca>/v4l/.config
# WARNING: this is useful for V4L USB UVC class webcams that are reasonably compatible with GSPCA
# a nice list is 
#                                
#                                ALi USB m5602 Camera Driver                                                           │ │  
##                   < >   STV06XX USB Camera Driver                                                             │ │  
##                   < >   GL860 USB Camera Driver                                                               │ │  
##                   < >   Benq USB Camera Driver                                                                │ │  
##                   < >   Conexant Camera Driver                                                                │ │  
##                   < >   Etoms USB Camera Driver                                                               │ │  
##                   < >   Fujifilm FinePix USB V4L2 driver                                                      │ │  
##                   < >   Jeilin JPEG USB V4L2 driver                                                           │ │  
##                   < >   Mars USB Camera Driver                                                                │ │  
##                   < >   Mars-Semi MR97310A USB Camera Driver                                                  │ │  
##                   < >   OV51x / OVFX2 / W996xCF USB Camera Driver                                             │ │  
##                   < >   OV534 USB Camera Driver                                                               │ │  
##                   < >   Pixart PAC207 USB Camera Driver                                                       │ │  
##                   < >   Pixart PAC7302 USB Camera Driver                                                      │ │  
##                   < >   Pixart PAC7311 USB Camera Driver                                                      │ │  
##                   < >   SN9C20X USB Camera Driver                                                             │ │  
##                   < >   SONIX Bayer USB Camera Driver                                                         │ │  
##                   < >   SONIX JPEG USB Camera Driver                                                          │ │  
##                   < >   SPCA500 USB Camera Driver
##                   < >   SPCA501 USB Camera Driver                                                             │ │  
##                   < >   SPCA505 USB Camera Driver                                                             │ │  
##                   < >   SPCA506 USB Camera Driver                                                             │ │  
##                   < >   SPCA508 USB Camera Driver                                                             │ │  
##                   < >   SPCA561 USB Camera Driver                                                             │ │  
##                   < >   SQ Technologies SQ905 based USB Camera Driver                                         │ │  
##                   < >   SQ Technologies SQ905C based USB Camera Driver                                        │ │  
##                   < >   Syntek DV4000 (STK014) USB Camera Driver                                              │ │  
##                   < >   STV0680 USB Camera Driver                                                             │ │  
##                   <M>   SUNPLUS USB Camera Driver     (This is mine - an el cheapo webcam, sold in India under 
#Techmatrix, Hytech, etc. brands.. all looking the same - 6 LED webcam. I would'nt be surprised if it is the same webcam as
#Dealextreme Sku 13
##                   < >   T613 (JPEG Compliance) USB Camera Driver                                              │ │  
##                   < >   TV8532 USB Camera Driver                                                              │ │  
##                   < >   VC032X USB Camera Driver                                                              │ │  
##                   < >   ZC3XX USB Camera Driver


# The build pre-reqs are 'sudo apt-get install mercurial build-essential linux-headers libncurses5-dev'
# download gspca from "hg clone http://linuxtv.org/hg/~jfrancois/gspca/"
# and then 'make;sudo make install'
# This needs to be accompanied by the latest v4l, so please do 
# 'sudo add-apt-repository ppa:libv4l' and 'sudo apt-get update; sudo apt-get upgrade' to pull them in.
# after a reboot, run 'sudo modprobe gspca_sunplus' or whatever it is that your card is
# install "cheese" and see if it works. Test skype (using "options" -> video options -> test). If it does'nt work, then do 
# "export LD_PRELOAD=/usr/lib32/libv4l/v4l1compat.so" (it may vary if ur not using 64-bit linux.. )
# then run skype from shell.
# Fri Jan  1 02:12:33 2010
#
# CONFIG_SND_MIRO is not set
CONFIG_INPUT=y
CONFIG_USB=y
CONFIG_FW_LOADER=y
# CONFIG_SPARC64 is not set
# CONFIG_PLAT_M32700UT is not set
CONFIG_SND_FM801=m
CONFIG_FB_CFB_IMAGEBLIT=y
CONFIG_GPIO_PCA953X=m
# CONFIG_HAVE_CLK is not set
# CONFIG_FIQ is not set
CONFIG_SND=m
# CONFIG_MT9M001_PCA9536_SWITCH is not set
# CONFIG_ARCH_OMAP2 is not set
# CONFIG_SPARC32 is not set
CONFIG_I2C_ALGOBIT=m
# CONFIG_SND_ISA is not set
CONFIG_INET=y
CONFIG_CRC32=y
CONFIG_SYSFS=y
CONFIG_MMC=y
# CONFIG_ISA is not set
CONFIG_PCI=y
CONFIG_PARPORT_1284=y
CONFIG_FB_CFB_FILLRECT=y
# CONFIG_MT9V022_PCA9536_SWITCH is not set
CONFIG_VIRT_TO_BUS=y
CONFIG_PARPORT=m
# CONFIG_ARCH_DAVINCI_DM644x is not set
CONFIG_FIREWIRE=m
CONFIG_NET=y
# CONFIG_ARCH_DAVINCI is not set
CONFIG_FB_CFB_COPYAREA=y
# CONFIG_PXA27x is not set
# CONFIG_SGI_IP22 is not set
CONFIG_I2C=y
# CONFIG_ARCH_DAVINCI_DM355 is not set
CONFIG_MODULES=y
# CONFIG_TUNER_XC2028 is not set
CONFIG_HAS_IOMEM=y
# CONFIG_MACH_DAVINCI_DM6467_EVM is not set
CONFIG_HAS_DMA=y
CONFIG_FB=y
# CONFIG_ARCH_MX1 is not set
CONFIG_SONY_LAPTOP=m
# CONFIG_MX3_IPU is not set
CONFIG_SND_PCM=m
CONFIG_EXPERIMENTAL=y
# CONFIG_M32R is not set
CONFIG_IEEE1394=m
# CONFIG_VIDEO_KERNEL_VERSION is not set
CONFIG_MEDIA_SUPPORT=m

#
# Multimedia core support
#
CONFIG_VIDEO_DEV=m
CONFIG_VIDEO_V4L2_COMMON=m
CONFIG_VIDEO_ALLOW_V4L1=y
CONFIG_VIDEO_V4L1_COMPAT=y
CONFIG_DVB_CORE=m
CONFIG_VIDEO_MEDIA=m

#
# Multimedia drivers
#
CONFIG_IR_CORE=m
CONFIG_VIDEO_IR=m
CONFIG_MEDIA_ATTACH=y
CONFIG_MEDIA_TUNER=m
# CONFIG_MEDIA_TUNER_CUSTOMISE is not set
CONFIG_MEDIA_TUNER_SIMPLE=m
CONFIG_MEDIA_TUNER_TDA8290=m
CONFIG_MEDIA_TUNER_TDA9887=m
CONFIG_MEDIA_TUNER_TEA5761=m
CONFIG_MEDIA_TUNER_TEA5767=m
CONFIG_MEDIA_TUNER_MT20XX=m
CONFIG_MEDIA_TUNER_XC2028=m
CONFIG_MEDIA_TUNER_XC5000=m
CONFIG_MEDIA_TUNER_MC44S803=m
CONFIG_VIDEO_V4L2=m
CONFIG_VIDEO_V4L1=m
CONFIG_VIDEOBUF_GEN=m
CONFIG_VIDEOBUF_VMALLOC=m
CONFIG_VIDEO_CAPTURE_DRIVERS=y
# CONFIG_VIDEO_ADV_DEBUG is not set
# CONFIG_VIDEO_FIXED_MINOR_RANGES is not set
CONFIG_VIDEO_HELPER_CHIPS_AUTO=y
CONFIG_VIDEO_IR_I2C=m
CONFIG_VIDEO_VIVI=m
# CONFIG_VIDEO_BT848 is not set
# CONFIG_VIDEO_BWQCAM is not set
# CONFIG_VIDEO_CQCAM is not set
# CONFIG_VIDEO_W9966 is not set
# CONFIG_VIDEO_CPIA is not set
# CONFIG_VIDEO_CPIA2 is not set
# CONFIG_VIDEO_SAA5246A is not set
# CONFIG_VIDEO_SAA5249 is not set
# CONFIG_VIDEO_STRADIS is not set
# CONFIG_VIDEO_ZORAN is not set
# CONFIG_VIDEO_MEYE is not set
# CONFIG_VIDEO_SAA7134 is not set
# CONFIG_VIDEO_MXB is not set
# CONFIG_VIDEO_HEXIUM_ORION is not set
# CONFIG_VIDEO_HEXIUM_GEMINI is not set
# CONFIG_VIDEO_CX88 is not set
# CONFIG_VIDEO_CX23885 is not set
# CONFIG_VIDEO_AU0828 is not set
# CONFIG_VIDEO_IVTV is not set
# CONFIG_VIDEO_CX18 is not set
# CONFIG_VIDEO_SAA7164 is not set
# CONFIG_VIDEO_CAFE_CCIC is not set
# CONFIG_SOC_CAMERA is not set
CONFIG_V4L_USB_DRIVERS=y
CONFIG_USB_VIDEO_CLASS=m
CONFIG_USB_VIDEO_CLASS_INPUT_EVDEV=y
CONFIG_USB_GSPCA=m
# CONFIG_USB_M5602 is not set
# CONFIG_USB_STV06XX is not set
# CONFIG_USB_GL860 is not set
# CONFIG_USB_GSPCA_BENQ is not set
# CONFIG_USB_GSPCA_CONEX is not set
# CONFIG_USB_GSPCA_ETOMS is not set
# CONFIG_USB_GSPCA_FINEPIX is not set
# CONFIG_USB_GSPCA_JEILINJ is not set
# CONFIG_USB_GSPCA_MARS is not set
# CONFIG_USB_GSPCA_MR97310A is not set
# CONFIG_USB_GSPCA_OV519 is not set
# CONFIG_USB_GSPCA_OV534 is not set
# CONFIG_USB_GSPCA_PAC207 is not set
# CONFIG_USB_GSPCA_PAC7302 is not set
# CONFIG_USB_GSPCA_PAC7311 is not set
# CONFIG_USB_GSPCA_SN9C20X is not set
# CONFIG_USB_GSPCA_SONIXB is not set
# CONFIG_USB_GSPCA_SONIXJ is not set
# CONFIG_USB_GSPCA_SPCA500 is not set
# CONFIG_USB_GSPCA_SPCA501 is not set
# CONFIG_USB_GSPCA_SPCA505 is not set
# CONFIG_USB_GSPCA_SPCA506 is not set
# CONFIG_USB_GSPCA_SPCA508 is not set
# CONFIG_USB_GSPCA_SPCA561 is not set
# CONFIG_USB_GSPCA_SQ905 is not set
# CONFIG_USB_GSPCA_SQ905C is not set
# CONFIG_USB_GSPCA_STK014 is not set
# CONFIG_USB_GSPCA_STV0680 is not set
CONFIG_USB_GSPCA_SUNPLUS=m
# CONFIG_USB_GSPCA_T613 is not set
# CONFIG_USB_GSPCA_TV8532 is not set
# CONFIG_USB_GSPCA_VC032X is not set
# CONFIG_USB_GSPCA_ZC3XX is not set
# CONFIG_VIDEO_PVRUSB2 is not set
# CONFIG_VIDEO_HDPVR is not set
# CONFIG_VIDEO_EM28XX is not set
# CONFIG_VIDEO_CX231XX is not set
# CONFIG_VIDEO_USBVISION is not set
# CONFIG_USB_VICAM is not set
# CONFIG_USB_IBMCAM is not set
# CONFIG_USB_KONICAWC is not set
# CONFIG_USB_QUICKCAM_MESSENGER is not set
# CONFIG_USB_ET61X251 is not set
# CONFIG_VIDEO_OVCAMCHIP is not set
# CONFIG_USB_OV511 is not set
# CONFIG_USB_SE401 is not set
# CONFIG_USB_SN9C102 is not set
# CONFIG_USB_STV680 is not set
# CONFIG_USB_ZC0301 is not set
# CONFIG_USB_PWC is not set
# CONFIG_USB_PWC_INPUT_EVDEV is not set
# CONFIG_USB_ZR364XX is not set
# CONFIG_USB_STKWEBCAM is not set
# CONFIG_USB_S2255 is not set
# CONFIG_RADIO_ADAPTERS is not set
CONFIG_DVB_MAX_ADAPTERS=8
CONFIG_DVB_DYNAMIC_MINORS=y
# CONFIG_DVB_CAPTURE_DRIVERS is not set
# CONFIG_DAB is not set

#
# Audio devices for multimedia
#

#
# ALSA sound
#
CONFIG_SND_BT87X=m
# CONFIG_SND_BT87X_OVERCLOCK is not set
CONFIG_SND_FM801_TEA575X=m
# CONFIG_STAGING is not set
